<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
    crossorigin="anonymous">

	<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
    <title>Secure Homepage</title>
  </head>
  <body>
      <nav th:insert="fragments/nav.html :: nav"></nav>
  
	<div class="container-fluid bg-light">
    
    	<div class="row">
	    	<div class="col-sm-3 bg-light" ><h2>Welcome our secure site!</h2></div>
	    	<div class="col-sm-6 bg-light" ></div>
	  		<div class="col-sm-3 bg-light" ></div>
  		</div>
    	    
		<div class="row">
			<div class="col-sm-12" >
				Hello, <span style="font-weight:bold" >[[${name}]] [[${lastName}]] </span><br> 
					
				<p>To add an event to your calendar please click <a href="/secure/addEvent" th:href="@{/secure/addEvent}">here</a></p>
				<p><a href="#" th:href="@{/logout}">Logout</a></p>
			</div>
		</div>
	
		<footer th:replace="fragments/footer.html :: footer"></footer>
   
    </div>
	
  
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" 
    crossorigin="anonymous"></script>
  </body>
</html>
